body {
  background-color: #f0f0f0;
}

.App {
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  width: 300px;
}

input, button, textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(100% - 22px);
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

.logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.user-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 300px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-details {
  text-align: left;
  margin-left: 20px;
}

.user-details p {
  font-weight: bold;
}

textarea {
  resize: vertical;
}

.go-back-button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  width: auto;
}

.go-back-button:hover {
  background-color: #0056b3;
}
.bio-text {
  font-weight: bold; 
}